<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="static/styles/style.css">
</head>
<body>
<h1>Приветствую на регистрации!</h1>
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/registration" method="POST">
    <p><label>Логин:</label> <input type="text" name="login" value="" required> </p>
    <p><label>Пароль:</label> <input type="text" name="password" value="" required> </p>
    <p><input type="submit" name="username" value="Отправить"> </p>
</form>
</body>
</html>